<a>
  <i
    class="fa fa-plus-circle fa-2x"
    _="on click call #dialog-cria-eventos.show()"
  ></i>
</a>

<div id="eventos"><%- include('eventos-lista') %></div>

<dialog id="dialog-cria-eventos"><%- include('eventos-add') %></dialog>
