<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda Marota</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/pico.min.css" />
    <!--  <link rel="stylesheet" href="css/font-awsome.min.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="scripts/htmx.min.js"></script>
  </head>
  <body>
    <article>
      <header>
        <nav>
          <ul>
            <li>
              <a
                ><i
                  class="fa fa-home fa-2x"
                  hx-get="/home"
                  hx-target="main"
                  hx-swap="innerHTML"
                  hx-trigger="click"
                ></i
              ></a>
            </li>
          </ul>
          <ul>
            <li>
              <a>
                <i
                  class="fa fa-sticky-note fa-2x"
                  hx-get="/notas"
                  hx-target="main"
                  hx-swap="innerHTML"
                  hx-trigger="click"
                ></i>
              </a>
            </li>
            <li>
              <a>
                <i
                  class="fa fa-clock-o fa-2x"
                  hx-get="/eventos"
                  hx-target="main"
                  hx-swap="innerHTML"
                  hx-trigger="click"
                ></i>
              </a>
            </li>
            <li>
              <a>
                <i
                  class="fa fa-user-o fa-2x"
                  hx-get="/contatos"
                  hx-target="main"
                  hx-swap="innerHTML"
                  hx-trigger="click"
                ></i>
              </a>
            </li>
            <li>
              <a>
                <i
                  class="fa fa-tasks fa-2x"
                  hx-get="/tarefas"
                  hx-target="main"
                  hx-swap="innerHTML"
                  hx-trigger="click"
                ></i>
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <main class="container"><%- include('home') %></main>
      <footer>
        <small>Criado por <strong>Andrei Patriota</strong></small>
      </footer>
    </article>
  </body>
</html>
