<a>
  <i
    class="fa fa-plus-circle fa-2x"
    _="on click call #dialog-cria-notas.show()"
  ></i>
</a>

<div id="notas"><%- include('notas-lista') %></div>

<dialog id="dialog-cria-notas"><%- include('notas-add') %></dialog>
