<article>
  <form
    id="form-cria-notas"
    hx-post="/api/notas"
    hx-trigger="submit"
    hx-target="#notas"
    hx-swap="innerHTML"
    _="on submit call #dialog-cria-notas.close() 
       on htmx:afterRequest call #form-cria-notas.reset()"
  >
    <input
      type="text"
      name="idNota"
      id="form-notas__input-id"
      class="esconde"
    />

    <label for="form-notas__input-titulo"> Título </label>
    <input
      type="text"
      id="form-notas__input-titulo"
      name="titulo"
      placeholder="Título"
      required
    />

    <label for="form-notas__input-descricao"> Descrição </label>
    <input
      type="text"
      id="form-notas__input-descricao"
      name="descricao"
      placeholder="Descrição"
      required
    />

    <label for="form-notas__input-cor">Cor</label>
    <select name="cor" id="form-notas__select-cor" required>
      <option value="" selected>Selecione uma cor...</option>
      <option id="form-notas__option_red" value="red">Vermelho</option>
      <option id="form-notas__option_orange" value="orange">Laranja</option>
      <option id="form-notas__option_yellow" value="yellow">Amarelo</option>
      <option id="form-notas__option_green" value="green">Verde</option>
      <option id="form-notas__option_cyan" value="cyan">Ciano</option>
      <option id="form-notas__option_blue" value="blue">Azul</option>
      <option id="form-notas__option_purple" value="purple">Roxo</option>
    </select>

    <div class="grid">
      <button
        _="on click call #dialog-cria-notas.close()
           then call #form-cria-notas.reset()"
      >
        Cancelar
      </button>
      <button type="submit">Criar</button>
    </div>
  </form>
</article>
