<a>
  <i
    class="fa fa-plus-circle fa-2x"
    _="on click call #modal-cria-tarefa.show()"
  ></i>
</a>

<% if(listadeTarefas.length > 0) {%>
<ul id="lista-tarefas">
  <%- include('tarefas-lista') %>
</ul>
<%} else {%>
<h2>Nenhuma tarefa adicionada</h2>
<%}%>

<dialog id="modal-cria-tarefa">
  <article>
    <h3>Crair uma Nova Tarefa</h3>
    <form
      id="form-cria-tarefa"
      hx-post="/api/tarefas"
      hx-trigger="submit"
      hx-target="#lista-tarefas"
      hx-swap="innerHTML"
      _="on submit call #modal-cria-tarefa.close()
         on htmx:afterRequest call #form-cria-tarefa.reset()"
    >
      <label for="idescricao"> Descrição </label>
      <input type="text" name="descricao" id="idescricao" required />

      <label for="idata">Data Limite</label>
      <input type="date" name="dataLimite" id="idata" />

      <footer>
        <div class="grid">
          <button
            _="on click call #modal-cria-tarefa.close() then call #form-cria-tarefa.reset()"
          >
            Cancelar
          </button>
          <button type="submit">Criar</button>
        </div>
      </footer>
    </form>
  </article>
</dialog>
